<%= link_to "First link", "#"%>
<%= link_to "Second link", "#"%>

<div class="col-md-6 mx-auto mb-5">
  <h1 class="center bold", align="center"> Welcome to Site </h1>
</div>

  <div id="new-post", align="center">
    <%= link_to 'New Post', new_post_path, remote: true, class:"btn btn-outline-primary" %>
  </div><br>

<!--  <h1 align="center">Posts</h1><br>-->
<div class="container p-3 mb-2 bg-dark rounded text-light">
  <table id="posts", style="width:100%">
    <thead>
      <tr align="center">
        <th>Post created</th>
        <th>Creation data</th>
        <th>User</th>
      </tr>
    </thead>

    <tbody align="center">
      <%= render @posts %>
    </tbody>
  </table>
</div>
