<div class="col-md-6 mx-auto mb-5">
  <h2 class="center-bold", align="center">SocialNetwork</h2>
    <p class="center-bold", align="center"> Connect and know what it's all about</p>
    <%= link_to "Close of landing", new_user_registration_path, class:"d-none d-md-block mt-0 mb-3 text-center h00-mktg lh-condensed-ultra "%>
</div>
<%= render "devise/registrations/new"%>
