<div class="col-md-6 mx-auto mb-5">
  <h2>SocialNetwork</h2>
    <p> Connect and know what it's all about</p>
    <%= link_to "Close account", new_user_registration_path%>
</div>
<%= render "devise/registrations/new"%>
