=form_tag "/custom_sign_up" do
  %ul
    -@user.errors.full_messages.each do |error|
      %li = error
  %div
    %label{for:"user_username"} Name of user
    =text_field_tag "user[username]", @user.username
  %div
    %label{for:"user_email"} Email
    =email_field_tag "user[email]", @user.email, require: true
  %div
    %label{for:"user_name"} Name
    =text_field_tag "user[name]", @user.name
  %div
    =submit_tag "Complete the register"
