<tr>
  <td><i><small><%= post.body %></small></i></td>
  <td><i><small><%= time_ago_in_words(post.created_at) %></small></i></td>
  <td><i><small>Created by: <%= post.user.email %></small></i></td>
</tr>
